---
import ServicesCard from "@/components/Services/ServicesCard.astro";
const services = Object.values(
  import.meta.glob("../../content/whatwedo/*.md", { eager: true }),
).sort((a: any, b: any) => a.frontmatter.order - b.frontmatter.order);
---

<section id="wedo-secton-card" class="mx-8 mt-20 mb-26">
  <div class="">
    <div class="border last:border-b-0 wedo-card">
      {
        services.map((service: any) => {
          const fm = service.frontmatter;
          return (
            <div class="">
              <ServicesCard data={fm} />
            </div>
          );
        })
      }
    </div>
  </div>
</section>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#wedo-secton-card",
      start: "top 80%",
      toggleActions: "play none none reverse",
    },
  });
  tl.from(".wedo-card", {
    y: 120,
    opacity: 0,
    duration: 0.6,
    stagger: 0.7,
  });
</script>
