
<!-- Calendly url -->
CONTACT_URL= https://calendly.com/abulalajobayar/15-mins-free-consultation
<!-- whatsapp -->
WHATSAPP_URL= https://wa.me/919900000000

<!-- email Sender -->
<!--  nodemailer -->
EMAIL_USER=pange@gmail.com
EMAIL_PASS=abch ijkl npqr vyyz

<!--  contact info -->
PHONE_NUMBER=+919900000000
FACEBOOK_URL= https://www.facebook.com/panze
INSTAGRAM_URL= https://www.instagram.com/panze
LINKEDIN_URL= https://www.linkedin.com/in/panze
BEHANCE_URL= https://www.behance.net/panze
DRIBBBLE_URL= https://dribbble.com/panze

<!--  OpenAI -->
OPENAI_API_KEY=sk-proj-