---
import * as data from "@/content/about/stats-content.md";
const { stats } = data.frontmatter;
---

<section class="relative overflow-hidden border-y border-[#E8E8E8] bg-white">
  <!-- Dot Pattern -->
  <div
    class="absolute inset-0 opacity-60 bg-[radial-gradient(#F5B5AD_1px,transparent_1px)] bg-size-[10px_10px] bg-o"
  >
  </div>

  <div
    class="relative grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 border-y border-primary"
  >
    {
      stats.map((item: any) => (
        <div
          class="flex items-center justify-center
                 min-h-22.5
                 sm:min-h-30
                 lg:min-h-47
                  py-6 -ml-7"
        >
          <h3 class="text-[#301C1B] uppercase font-commissioner leading-[150%] font-semibold tracking-[-4%] text-[20px]">
            <span class="font-bold">{item.value}</span> {item.label}
          </h3>
        </div>
      ))
    }
  </div>
</section>
