---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Button } from "@/components/ui/button";
---

<Layout>
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <Button> Hello button</Button>
</Layout>
