---
const { quote, author } = Astro.props;
---

<section class="my-20">
  <svg class="h-12 w-12 text-primary" viewBox="0 0 40 40" fill="none">
    <path
      d="M18 8C11 10 8 16 8 22V32H20V20H13C13.4 15.6 16.2 12.6 20 11L18 8ZM34 8C27 10 24 16 24 22V32H36V20H29C29.4 15.6 32.2 12.6 36 11L34 8Z"
      fill="currentColor"></path>
  </svg>

  <blockquote
    class="mt-8 font-dm-mono text-[16px] font-normal leading-[150%] tracking-[-4%]"
  >
    {quote}
  </blockquote>

  <div class="mt-5 border-t border-primary pt-4">
    <p
      class="font-dm-mono text-[14px] font-normal leading-[150%] tracking-[-4%]"
    >
      {author}
    </p>
  </div>
</section>
