---
import Navbar from "@/components/shared/Navbar.astro";
import "@/styles/global.css"
interface Props {
  title: string;
}
const { title } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" sizes="20x16" href="/panzelogo.png" />
    <ClientRouter />
  </head>
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>


  <body>
    <div id="main" class="max-w-300 mx-auto">    
        <div  id="cursor" class="h-2 w-2 bg-[#ED7743] rounded-full fixed z-1000"></div>
   
      <div class="sticky top-0 bg-white z-50"><Navbar /></div>
      
      <slot />
    </div>
  </body>
</html>

<script>
import gsap from "gsap"
const main= document.querySelector("#main")
main?.addEventListener("mousemove",function(dets:any){
  gsap.to("#cursor",{
    x:dets.x,
    y: dets.y,
    duration:1,
    ease:"back.out(4)"
  })
})

</script>