---
const { challenges } = Astro.props;
---

<section class="mx-10">
  <div class="grid grid-cols-1 lg:grid-cols-3">
    {
      challenges.items.map((item: any, index: number) => (
        <div
          class:list={[
            "p-8 lg:p-10 xl:p-10 max-h-62.5",
            "border-b border-black/20 last:border-b-0",
            // Desktop
            "lg:border-b-0",
            "lg:border-l",
            index === challenges.items.length - 1 && "lg:border-r",
          ]}
        >
          <h3 class="font-dm-mono font-normal text-[14px] leading-[150%] tracking-[-4%] text-primary">
            {item.title}
          </h3>

          <p
            class="mt-5 max-w-[320px]
                 font-dm-mono font-normal text-[14px] leading-[150%] tracking-[-4%]
                 text-[#301C1B]"
          >
            {item.description}
          </p>
        </div>
      ))
    }
  </div>
</section>
