---
const { taskManagement } = Astro.props;
---

<section class="my-20">
  <div class="overflow-hidden px-10">
    <img
      src={taskManagement.image}
      alt={taskManagement.name}
      class="w-full h-auto object-cover"
    />
  </div>
</section>
