---
const { userOnboarding } = Astro.props;
---

<section class="my-20">
  <div class="overflow-hidden px-10">
    <img
      src={userOnboarding.image}
      alt={userOnboarding.name}
      class="w-full h-auto object-cover"
    />
  </div>
</section>
